@{
    ViewBag.Title = "X By 2 Regular Expression Contest Website";
}

<head>
    <title>X by 2 Apps</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/require")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ckeditor")
</head>

<body>
<div class="header">
</div>
<div class="not-header">
    <ul class="nav">
        <li><img src="~/AngularApp/assets/img/X-by-2-Logo.png" alt="X By 2"/> </li>
    </ul>
    <div class="content" ng-view></div>
</div>
</body>
